$background-gradient: linear-gradient(90deg, rgba(0, 173, 181, .3) 17%, rgba(170, 216, 211, .3) 80%);

$blue: rgb(0, 173, 181);
$light-blue: rgb(170, 216, 211);
$black: rgb(57, 62, 70);
$white: rgb(238, 238, 238);