// desktop - 992px

// imports
@import "colors.scss";
@import "mixins.scss";

// change background to higher resoultion
body {
    @include backgroundImage("../img/background/background-desktop.jpg");
}

.nav__mobile {
    display: none;
}

.nav__desktop {
    padding: .5em 2em;
    font-size: 3.4rem;

    // links on right side
    &__items__item {
        font-size: 3.4rem;
    }
}

.per,
.route {
    height: 70vh;
    font-size: 2.8rem;
    background-color: rgba(0, 0, 0, .6);
    box-shadow: 2px 2px 10px black;
    text-align: center;

    // box name
    &__text-info {
        font-size: 3rem;
    }

    // store the kilometers, fuel and price 
    &__box {

        // count button
        &__button {
            font-size: 2.6rem;
            padding: .4em;
        }

        &__input {
            font-size: 2.8rem;
        }

        &__carousel {
            font-size: 3rem;
        }
    }
}


.footer {
    font-size: 2.2rem;
}