@mixin backgroundImage ($imgPath) {
    background-image: $background-gradient, url($imgPath);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}